.header_top_bg {
	position: relative;
	z-index: auto;
	background-color: #ffffff;
}


.header_top_bg.fixed-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

header {
	position: relative;
	width: 100%;
	z-index: 999;
	text-align: center;
}

header.absolute {
	position: absolute;
	margin-bottom: 0;
}

header a.logo {
	text-decoration: none;
	display: block;
}

header.zindex,
footer.zindex {
	z-index: 1 !important;
}

.header_top_bg.enable_fixed.fixed {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
}

.header_trans-fixed.header_top_bg {
	background-color: transparent;
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
}

.header_trans-fixed.header_top_bg.open header .logo span,
.header_trans-fixed.header_top_bg.open header .mob-nav i {
	color: #222222;
}

.single-post .header_trans-fixed.bg-fixed-color {
	margin-left: 0;
	width: 100%;
}

.top-menu {
	padding-bottom: 10px;
}

.top-menu .logo {
	display: inline-block;
}

.top-menu .logo span {
	font-family: "Proxima Nova", sans-serif;
	font-size: 28px;
	line-height: 1.2;
	font-weight: 800;
	letter-spacing: .2px;
	min-width: 170px;
	text-align: center;
	background-color: transparent;
	color: #222222;
	display: inline-block;
}

.right-menu .logo span {
	vertical-align: middle;
	text-align: left;
	font-family: "Proxima Nova", sans-serif;
	font-size: 28px;
	line-height: 1.8;
	font-weight: 800;
	letter-spacing: 0.2px;
	color: #222222;
}
.right-menu #topmenu {
	text-align: right;
}

.no-menu {
	display: inline-block;
	margin-top: 12px;
}

.header_top_bg.bg-fixed-color .top-menu .logo span,
.header_top_bg.bg-fixed-color .right-menu #topmenu ul li ul li a,
.menu_light_text .right-menu #topmenu ul li ul li a,
.socials-mob-but i,
.header_top_bg.bg-fixed-color .right-menu #topmenu ul li a,
.header_top_bg.bg-fixed-color.menu_light_text .right-menu #topmenu ul li a,
.header_top_bg.bg-fixed-color .right-menu #topmenu .search-icon-wrapper i,
.header_top_bg.bg-fixed-color.menu_light_text .right-menu #topmenu .search-icon-wrapper i,
.header_top_bg.bg-fixed-color .right-menu #topmenu .awa-shop-icon::before,
.header_top_bg.bg-fixed-color.menu_light_text .right-menu #topmenu .awa-shop-icon::before {
	color: #222222;
}


#topmenu {
	width: 100%;
	text-align: center;
	background: #ffffff;
}

#topmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#topmenu ul li {
	display: inline-block;
	position: relative;
}

#topmenu ul li a {
	font-size: 15px;
	font-family: "Proxima Nova", sans-serif;
	color: #222222;
	font-weight: 800;
	display: block;
	text-align: left;
	text-decoration: none;
	padding: 0 20px 5px;
	line-height: 45px;
	letter-spacing: 0.2px;
	transition: all .3s ease;
	-webkit-font-smoothing: antialiased;
}

.header_trans-fixed.header_top_bg.open #topmenu ul li a {
	color: #222222;
}

.top-menu #topmenu > ul > li > a,
.top-menu #topmenu ul.social > li > a {
	padding: 0;
}

#topmenu .social .fa {
	font-size: 18px;
}

.top-menu .logo img {
	max-height: 100px;
}

#topmenu ul ul {
	position: absolute;
	z-index: 999;
	left: 0;
	top: 50px;
	min-width: 250px;
	display: none;
	box-sizing: border-box;
}

#topmenu ul ul li::before {
	content: '';
	display: table;
	clear: both;
}

#topmenu ul ul li a {
	font-size: 13px;
	line-height: 26px;
	padding: 3px 30px;
	font-family: "Proxima Nova", sans-serif;
	letter-spacing: 0.2px;
	display: block;
	width: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

#topmenu > ul > li > ul > li:hover ul {
	display: block;
}

#topmenu > ul > li > ul > li > ul {
	left: 101%;
	top: -15px;
}

.mob-nav {
	display: none;
	width: 20px;
	height: 20px;
	margin: 0 auto 12px;
	font-size: 14px;
	color: #222222;
	opacity: 1;
}

.mob-nav:hover {
	opacity: 0.7;
}

.header_trans-fixed .mob-nav i {
	color: #fff;
}

.header_trans-fixed.header_top_bg {
	transition: background-color 300ms ease;
}

.header_trans-fixed.header_top_bg.bg-fixed-color {
	background-color: #fff;
}
.header_trans-fixed.header_top_bg.bg-fixed-color .mob-nav .line {
	background-color: #222;
}
.header_trans-fixed.header_top_bg.bg-fixed-color .logo span {
	color: #222;
}
.menu_light_text .right-menu .mob-nav .line {
	background-color: #ffffff;
}
.right-menu .topmenu.open .mob-nav .line {
	background-color: #222222;
}
.awa-top-social {
	display: inline-block;
	margin-left: 0px;
	position: relative;
	vertical-align: middle;
}

.awa-top-social .social-icon {
	display: none;
	font-size: 14px;
	color: #222222;
	opacity: 1;
	padding: 0 20px;
	cursor: pointer;
	transition: opacity 0.3s ease;
	position: relative;
	z-index: 30;
}

.header_trans-fixed .awa-top-social .social-icon {
	color: #fff;
}

.awa-top-social .social-icon:hover {
	opacity: 0.7;
}

#topmenu .awa-top-social .social {
	margin-left: 0;
}

#topmenu .social li {
	display: inline-block;
	margin-left: 12px;
}

#topmenu .awa-top-social .social li a {
	margin-left: 0;
	color: #222222;
	opacity: 1;
	transition: opacity 0.3s ease;
}

.header_trans-fixed .right-menu #topmenu .awa-top-social .social li a {
	color: #fff;
}

#topmenu .awa-top-social .social li a:hover {
	opacity: 1;
}

.header_trans-fixed .right-menu #topmenu .awa-top-social .social {
	background-color: transparent;
}

#topmenu .awa-top-social .social li {
	margin: 5px;
}

#topmenu .awa-top-social .social.active {
	visibility: visible;
	opacity: 1;
}

#topmenu .awa-top-social .social li a {
	line-height: 1.2;
}

#topmenu ul > li > ul > li > ul {
	display: none;
}

#topmenu .awa_mini_cart .product_list_widget .mini_cart_item .mini-cart-data .mini_cart_item_price {
	color: #f54ea2;
	font-size: 15px;
	font-weight: 800;
}

.mini-cart-wrapper {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.mini-cart-wrapper .awa-shop-icon {
	text-decoration: none;
	font-size: 17px;
}

.mini-cart-wrapper .awa-shop-icon:hover::before {
	color: #f54ea2;
}

.mini-cart-wrapper .awa-shop-icon:before {
	position: relative;
	display: inline-block;
	line-height: 1;
	-webkit-transition: all 350ms ease;
	-moz-transition: all 350ms ease;
	-ms-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	transition: all 350ms ease;
	color: #222222;
	font-size: 15px;
}

.mini-cart-wrapper .awa-shop-icon .cart-contents {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	top: -15px;
	right: -15px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #f54ea2;
}

.mini-cart-wrapper .awa-shop-icon .cart-contents-count {
	font-family: "Proxima Nova";
	font-size: 10px;
	font-weight: 800;
	letter-spacing: 1.12px;
	color: #fff;
}

.awa_mini_cart {
	position: absolute;
	right: -20px;
	top: 50px;
	display: block;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	min-width: 360px;
	padding: 23px 30px;
	text-align: center;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.07);
}
.header_trans-fixed #topmenu .awa_mini_cart .cart_list .mini_cart_item .remove_from_cart_button {
	color: #d8d8d8;
}
#topmenu .awa_mini_cart .cart_list .mini_cart_item .remove_from_cart_button {
	padding: 0;
	color: #d8d8d8;
	font-size: 30px;
	font-weight: 400;
}
#topmenu .awa_mini_cart .awa-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 30px;
}
#topmenu .awa_mini_cart .awa-buttons a {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #222222;
	font-size: 13px;
	font-weight: 800;
	letter-spacing: .2px;
	text-transform: none;
	text-decoration: none;
}
#topmenu .awa_mini_cart .awa-buttons a:hover i {
	margin-left: 10px;
}
#topmenu .awa_mini_cart .awa-buttons a i {
	margin-left: 5px;
	color: #f54ea2;
	font-size: 10px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.woocommerce-mini-cart__total {
	margin: 0;
	text-transform: none;
	font-size: 15px;
	color: #999999;
}
.woocommerce-mini-cart__total span {
	margin-left: 10px;
	color: #f54ea2;
	font-size: 18px;
	font-weight: 800;
}
.mini-cart-wrapper:hover .awa_mini_cart {
	opacity: 1;
	visibility: visible;
}

#topmenu .awa_mini_cart .product_list_widget {
	display: block;
}

#topmenu .awa_mini_cart .product_list_widget .empty {
	font-family: "Proxima Nova", sans-serif;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 1.4px;
	font-weight: 400;
	color: #fff;
}

#topmenu .awa_mini_cart .product_list_widget .mini_cart_item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0;
	padding-bottom: 23px;
	margin-bottom: 23px;
	border-bottom: 1px solid #ddd;
}

#topmenu .awa_mini_cart .product_list_widget .mini_cart_item .mini_cart_item_thumbnail {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 40%;
	max-width: 70px;
	margin-top: 7px;
}

#topmenu .awa_mini_cart .product_list_widget .mini_cart_item .mini_cart_item_thumbnail a {
	padding: 0;
	display: block;
}

#topmenu .awa_mini_cart .product_list_widget .mini_cart_item .mini_cart_item_thumbnail img {
	float: none;
	max-width: 70px;
	width: 100%;
	margin-left: 0;
}

#topmenu .awa_mini_cart .product_list_widget .mini_cart_item .mini-cart-data {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 60%;
	padding-left: 20px;
}

#topmenu .awa_mini_cart .product_list_widget .mini_cart_item .mini-cart-data .mini_cart_item_name {
	font-family: "Proxima Nova", sans-serif;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.2px;
	font-weight: 800;
	color: #222;
	text-align: left;
	padding: 0;
}

#topmenu .awa_mini_cart .product_list_widget .mini_cart_item .mini-cart-data .mini_cart_item_quantity {
	font-family: "Proxima Nova", sans-serif;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 2.88px;
	font-weight: 400;
	color: #b2b2b2;
	margin-bottom: 3px;
}

#topmenu .awa_mini_cart a.button {
	margin-bottom: 0;
	letter-spacing: 1.2px;
	line-height: 20px;
	position: relative;
	display: inline-block;
	font-family: "Proxima Nova", sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	padding: 18px;
	font-size: 15px;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	color: #999;
	background-color: #eee;
	width: 100%;
	border-radius: 0;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
#topmenu .awa_mini_cart a.button:hover {
	background-color: #f54ea2;
	color: #ffffff;
}

#topmenu .awa_mini_cart a.button:hover::after {
	right: 20px;
}

.header_trans-fixed.none {
	display: none;
}

.header_trans-fixed.header_top_bg .mini-cart-wrapper .awa-shop-icon .cart-contents-count {
	color: #fff;
}

.awa_mini_cart .product_list_widget .mini_cart_item .mini_cart_item_thumbnail img {
	height: auto;
}

.socials-mob-but {
	display: none;
}

.socials-mob-but:active,
.socials-mob-but:visited {
	opacity: 1;
}

.header_top_bg:not(.header_trans-fixed) {
	padding-bottom: 10px;
}

#topmenu .awa_mini_cart .product_list_widget .mini_cart_item .mini-cart-data .mini_cart_item_price {
	font-size: 12px;
}

.unit .mini-cart-wrapper .awa-shop-icon {
	font-size: 25px;
}

header .logo img {
	max-width: none;
	max-height: 75px;
}

header .logo img.logo-hover {
	display: none;
}
header .logo:hover {
	opacity: 1;
}

.header_trans-fixed .f-right > div:first-child::before {
	background: #fff !important;
}

@media only screen and (max-width: 1199px) {
	.awa-top-social {
		margin-left: 5px;
	}
}

@media (min-width: 992px) {
	header .logo img.logo-mobile{
		display: none!important;
	}
	.menu_light_text.header_top_bg  .logo span,
	.menu_light_text.header_top_bg .right-menu .logo span,
	.menu_light_text.header_top_bg .right-menu #topmenu ul li a,
	.menu_light_text.header_top_bg .right-menu #topmenu .awa-shop-icon::before,
	.menu_light_text.header_top_bg .right-menu #topmenu .search-icon-wrapper i,
	.menu_light_text.header_top_bg .right-menu .socials-mob-but i {
		color: #ffffff;
	}
	.menu_light_text.header_top_bg .right-menu #topmenu .sub-menu li a {
		color: #222222;
	}
	.mob-nav-close {
		display: none;
	}
	.aside-menu .mini-cart-wrapper:hover .awa_mini_cart {
		opacity: 0;
		visibility: hidden;
	}

	.header_trans-fixed #topmenu {
		background-color: transparent;
	}

	#topmenu ul ul {
		padding: 10px 0;
	}

	.right-menu .logo{
		text-align: left;
	}

	.right-menu .logo,
	.right-menu #top-menu {
		display: table-cell;
		vertical-align: middle;
	}

	.top-menu #topmenu ul ul {
		left: -20px;
	}

	.top-menu .awa-top-social {
		margin-left: 10px;
	}

	#topmenu ul ul li {
		display: block;
		margin-bottom: 5px;
	}

	#topmenu ul ul li:last-child {
		margin-bottom: 0;
	}

	.top-menu #topmenu > ul:not(.social) > li {
		margin: 0 10px 5px 10px;
		padding: 0;
	}

	#topmenu ul li:hover > ul {
		display: block;
	}

	header:not(.full) #topmenu {
		display: block !important;
	}

	#topmenu .f-right > div {
		position: relative;
		display: inline-block;
	}

	#topmenu .f-right > div:last-child::before {
		content: none;
	}

	#topmenu > ul > li > ul > li > ul {
		left: -100%;
		top: -15px;
	}

	.sub-menu li a {
		z-index: 1999;
	}

	.pr30md {
		padding-right: 30px !important;
		padding-left: 0 !important;
	}

	.right-menu {
		width: 100%;
		margin: auto;
		display: table;
		padding: 0;
	}

	.right-menu .f-right {
		float: right;
	}

	.right-menu .f-right > div {
		position: relative;
	}

	.right-menu .f-right > div:last-child::before {
		content: none;
	}

	header:not(.full) .right-menu #topmenu {
		text-align: center;
		display: table-cell !important;
		margin-top: 0;
		vertical-align: middle;
	}

	.header_trans-fixed.header_top_bg .right-menu #topmenu > ul > li > a {
		padding: 13px 0 13px;
		transform: translateZ(0);
	}

	.header_trans-fixed.header_top_bg .right-menu #topmenu > ul ul {
		top: 60px;
	}

	.header_trans-fixed.header_top_bg .right-menu #topmenu > ul ul ul {
		top: -10px;
	}

	.right-menu #topmenu ul ul {
		left: 10px;
		top: 44px;
	}

	.top-menu #topmenu ul ul {
		left: -20px;
		top: 100%;
	}

	.right-menu #topmenu > ul > li > ul > li > ul {
		left: 100%;
		top: -10px;
	}

	.top-menu #topmenu > ul > li > ul > li > ul {
		left: 100%;
		top: -10px;
	}

	.right-menu #topmenu .social {
		text-align: right;
		vertical-align: top;
	}

	.right-menu #topmenu .social li a {
		padding: 0;
		margin-left: 0;
		-webkit-transition: color 350ms ease;
		-moz-transition: color 350ms ease;
		-ms-transition: color 350ms ease;
		-o-transition: color 350ms ease;
		transition: color 350ms ease;
	}

	.right-menu #topmenu .social li a:hover {
		color: #f54ea2;
	}

	.right-menu #topmenu .social li a::after,
	.right-menu #topmenu .social li a::before {
		content: none;
	}

	.right-menu #topmenu > ul > li > a {
		position: relative;
		padding: 0;
		margin: 0 23px;
	}

	.right-menu #topmenu > ul > li.current-menu-item > a,
	.top-menu #topmenu > ul > li.current-menu-item > a,
	.right-menu #topmenu > ul > li.current-menu-parent > a,
	.top-menu #topmenu > ul > li.current-menu-parent > a {
		transition: all 0.5s ease;
	}

	.right-menu .logo img {
		max-height: 75px;
		margin: 5px auto;
	}
	.full-width-menu .right-menu .logo img {
		margin: 0;
		max-height: 77px;
	}
	.right-menu.aside-fix .logo img {
		margin: 0;
	}
	.top-menu #topmenu > ul > li:last-child > ul > li > ul {
		left: calc(-100% - 30px);
	}

	#topmenu .awa-top-social .social {
		z-index: 25;
		text-align: left;
		transition: opacity 0.3s ease;
	}

	.aside-nav {
		display: none;
	}

	.aside-menu {
		position: fixed;
		top: 0;
		left: 0;
	}

	.aside-menu .topmenu {
		position: fixed;
		top: 0;
		left: -100%;
		height: 100%;
		width: 255px !important;
		padding: 50px 0;
		margin-left: 58px;
		text-align: center;
		background-color: #fff;
		box-sizing: border-box;
		outline: 0;
		z-index: 101;
		backface-visibility: hidden;
		transition: left 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	}

	.aside-menu .topmenu.active-menu {
		left: 0;
	}

	.aside-menu.active-menu {
		left: 0;
	}

	.aside-menu.active-menu .aside-nav .aside-nav-line.line-1 {
		display: none;
	}

	.aside-menu.active-menu .aside-nav .aside-nav-line.line-2 {
		top: 50%;
		transform: rotate(45deg);
	}

	.aside-menu.active-menu .aside-nav .aside-nav-line.line-3 {
		top: 50%;
		transform: rotate(-45deg);
	}

	.aside-menu .logo {
		position: absolute;
		z-index: 9999;
		top: 20px;
		left: 31px;
		padding: 20px 0;
	}

	.aside-menu .aside-nav {
		position: fixed;
		display: block;
		left: 0;
		top: 0;
		width: 58px;
		background-color: #030e28;
		height: 100%;
		z-index: 1000;
	}

	.aside-menu .aside-nav .aside-nav-line {
		position: absolute;
		top: 50%;
		left: 18px;
		display: block;
		width: 22px;
		height: 1px;
		background-color: #fff;
		transition: transform .3s ease;
	}

	.aside-menu .aside-nav .aside-nav-line.line-1 {
		transform: translateY(-6px);
	}

	.aside-menu .aside-nav .aside-nav-line.line-3 {
		transform: translateY(6px);
	}

	.aside-menu .aside-nav:hover {
		opacity: 1;
	}

	.aside-menu .aside-nav:focus {
		opacity: 1;
	}

	.aside-menu .aside-nav:hover .aside-nav-line {
		transform: rotate(45deg);
	}

	.aside-menu #topmenu {
		display: table !important;
		border-right: 1px solid #f2f2f2;
	}
	.aside-menu.aside-fix #topmenu ul.menu {
		padding-bottom: 100px;
	}
	.aside-menu #topmenu ul.menu {
		display: inline-block;
		vertical-align: middle;
		overflow-y: auto;
		width: 100%;
		max-height: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
	}

	.aside-menu #topmenu ul.menu li {
		padding: 13px 20px 13px 45px;
		position: static;
		text-align: left;
		display: block;
	}
	.aside-menu.aside-fix #topmenu ul.menu li {
		padding: 10px 15px;
		text-align: center;
	}
	.aside-menu.aside-fix #topmenu ul.menu a {
		display: inline-block;
		position: relative;
		line-height: 1.2;
	}
	.aside-menu #topmenu ul.menu a {
		display: block;
		text-align: center;
		z-index: 9999;
	}
	.aside-menu.aside-fix #topmenu ul.menu li a::before {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 0;
		height: 8px;
		z-index: -1;
		background-color: #ffdd65;
		-webkit-transition: width .5s ease;
		-o-transition: width .5s ease;
		transition: width .5s ease;
	}
	.aside-menu.aside-fix #topmenu ul.menu li a:hover::before,
	.aside-menu.aside-fix #topmenu ul.menu .current-menu-parent > a::before,
	.aside-menu.aside-fix #topmenu ul.menu .current-menu-item > a::before {
		width: 100%;
	}
	.aside-menu.aside-fix #topmenu ul ul li a {
		width: auto;
		padding: 0;
	}
	.aside-menu #topmenu .f-right {
		float: none;
		position: absolute;
		left: 50%;
		width: calc(100% - 35px);
		transform: translateX(-50%);
		bottom: 40px;
		z-index: 2;
		top: auto;
	}

	.aside-menu #topmenu .f-right .awa-top-social {
		margin-left: 0;
	}

	.aside-menu #topmenu .f-right .awa-top-social li {
		margin-right: 5px;
		margin-left: 5px;
	}

	.aside-menu #topmenu .f-right .awa-top-social li {
		margin-left: 0;
		margin-right: 10px;
	}

	.aside-menu.aside-fix #topmenu .sub-menu {
		min-width: auto;
		position: static;
	}
	.aside-menu.aside-fix #topmenu .sub-menu a {
		font-weight: bold;
	}

	.aside-menu.aside-fix #topmenu::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 80px;
		background: #fff;
		z-index: 1;
	}

	.aside-menu.aside-fix #topmenu .f-right {
		text-align: center;
	}

	.aside-menu #topmenu > ul > li:hover ul,
	.aside-menu #topmenu > ul > li > ul > li:hover ul {
		display: none;
	}

	.aside-menu #topmenu ul > li > ul > li > ul {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	header:not(.aside-menu):not(.full) #topmenu ul li.mega-menu {
		position: static;
	}

	header:not(.aside-menu):not(.full).right-menu #topmenu ul .mega-menu > ul {
		width: 100%;
		max-width: 1140px;
		left: 50%;
		top: 60px;
		padding: 45px 0 30px;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}


	header:not(.aside-menu):not(.full) #topmenu ul li.mega-menu:hover > ul::before {
		content: "";
		position: absolute;
		width: 5000px;
		top: 0;
		bottom: 0;
		left: -100%;
		background-color: #fff;
		box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.07);
		z-index: 1;
	}

	header:not(.aside-menu):not(.full) #topmenu ul li.mega-menu > ul > li {
		float: left;
		width: 25%;

	}

	header:not(.aside-menu):not(.full) #topmenu ul li.mega-menu:hover > ul > li > a {
		font-size: 18px;
		font-weight: 800;
		letter-spacing: .2px;
	}

	header:not(.aside-menu):not(.full) #topmenu ul li.mega-menu > ul > li:nth-child(1)::before {
		left: 25%;
	}

	header:not(.aside-menu):not(.full) #topmenu ul li.mega-menu > ul > li:nth-child(2)::before {
		left: 50%;
	}

	header:not(.aside-menu):not(.full) #topmenu ul li.mega-menu > ul > li:nth-child(3)::before {
		left: 75%;
	}

	header:not(.aside-menu):not(.full) #topmenu ul > li.mega-menu > ul.sub-menu > li > ul.sub-menu {
		display: block;
		position: static;
		text-align: left;
		min-width: 100%;
		box-shadow: none;
		padding: 25px 0;
		transition: all .2s ease;
	}

	header:not(.aside-menu):not(.full) #topmenu ul > li.mega-menu > ul > li > ul.sub-menu > li {
		display: block;
		padding: 8px 0;
	}
	header:not(.aside-menu):not(.full) #topmenu ul > li.mega-menu > ul > li > ul.sub-menu > li a {
		opacity: 0;
		-webkit-transform: matrix(1, 0, 0, 1, 0, 20);
		-ms-transform: matrix(1, 0, 0, 1, 0, 20);
		transform: matrix(1, 0, 0, 1, 0, 20);
		-webkit-transition: opacity .75s ease, -webkit-transform .75s ease;
		transition: opacity .75s ease, -webkit-transform .75s ease;
		-o-transition: opacity .75s ease, transform .75s ease;
		transition: opacity .75s ease, transform .75s ease;
		transition: opacity .75s ease, transform .75s ease, -webkit-transform .75s ease;
	}
	header:not(.aside-menu):not(.full).right-menu #topmenu ul .mega-menu ul li {
		position: static;
		display: block;
	}

	header.top-menu #topmenu ul li.mega-menu > ul {
		top: calc(100% - 25px);
	}

	header.top-menu #topmenu ul li.mega-menu > ul > li::before {
		display: none;
	}

	header.top-menu #topmenu ul ul {
		left: 0;
	}

	header.top-menu #topmenu ul li.mega-menu > ul > li:nth-child(1)::before,
	header.top-menu #topmenu ul li.mega-menu > ul > li:nth-child(2)::before,
	header.top-menu #topmenu ul li.mega-menu > ul > li:nth-child(3)::before {
		left: 100%;
		display: block;
		top: 0;
	}

	.top-menu .logo span {
		padding: 24px 10px;
	}

	header.top-menu .logo span {
		padding: 15px 10px;
	}

	.right-menu .logo span {
		float: left;
	}

	.top-menu #topmenu > ul:not(.social) > li {
		margin: 0 0 5px;
		padding: 0 23px;
	}

	.top-menu #topmenu > ul > li:last-child > ul > li > ul {
		left: calc(-100%);
	}

	.top-menu #topmenu > ul > li > ul > li > ul {
		left: calc(100% + 23px);
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.right-menu #topmenu > ul > li > a {
		margin: 0 18px;
	}
}

@media (min-width: 992px) {

	.main-wrapper.unit .right-menu #topmenu > ul > li > a {
		margin: 0 15px;
	}
}

@media (max-width: 991px) {

	header .logo img.main-logo:not(.logo-mobile){
		display: none!important;
	}
	header .logo img.logo-mobile{
		display: inline;
	}
	.aside-menu.static #topmenu .f-right .copy {
		display: none;
	}

	.header_top_bg > .container {
		width: 100%;
	}

	#topmenu {
		overflow-x: hidden;
	}

	.header_trans-fixed.header_top_bg .mini-cart-wrapper .awa-shop-icon .cart-contents-count {
		color: #222222;
	}

	.main-wrapper {
		width: 100%;
	}

	.main-wrapper header .logo img {
		max-height: 75px;
	}

	header {
		padding: 10px 45px;
	}

	#topmenu ul li ul {
		box-shadow: none;
		font-style: normal;
	}

	#topmenu ul {
		box-shadow: none;
		font-style: normal;
	}

	.header_top_bg > .container > .row > .col-xs-12 {
		padding: 0;
	}

	.top-menu .logo {
		margin-bottom: 0;
		margin-top: 0;
	}

	.no-padd-mob {
		padding: 0 !important;
	}
	.right-menu #topmenu .menu li.menu-item-has-children,
	#topmenu .menu li.menu-item-has-children {
		position: relative;
		text-align: left;
	}
	.right-menu #topmenu .menu li.menu-item-has-children i,
	#topmenu .menu li.menu-item-has-children i {
		position: absolute;
		top: 16px;
		right: 35px;
	}

	.right-menu #topmenu .menu li.menu-item-has-children > a,
	#topmenu .menu li.menu-item-has-children > a {
		position: relative;
		display: inline-block;
		width: 100%!important;
	}
	.mob-nav {
		display: block;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 20px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.mob-nav i::before {
		font-size: 24px;
	}
	.sidebar-open {
		height: 100vh;
	}
	.sidebar-open .canvas-wrap {
		-webkit-transform: translateX(320px);
		-moz-transform: translateX(320px);
		-ms-transform: translateX(320px);
		-o-transform: translateX(320px);
		transform: translateX(320px);
	}
	.sidebar-open .header_top_bg {
		position: fixed;
	}
	.main-wrapper {
		-webkit-transition: -webkit-transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
		transition: -webkit-transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
		-o-transition: transform 0.5s ease-in-out, transform 0.5s ease-in-out;
		transition: transform 0.5s ease-in-out, transform 0.5s ease-in-out;
		transition: transform 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
	}
	.main-wrapper::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.75);
		z-index: 400;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	.sidebar-open .main-wrapper {
		position: fixed;
		-webkit-transform: translateX(320px);
		-ms-transform: translateX(320px);
		transform: translateX(320px);
		overflow: visible;
	}
	.sidebar-open .main-wrapper::before {
		opacity: 1;
		visibility: visible;
	}
	.mob-nav-close {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-decoration: none;
		border-bottom: 1px solid #f1f2f3;
	}
	.mob-nav-close span {
		font-weight: 800;
		letter-spacing: .2px;
	}
	.mob-nav-close .hamburger {
		padding: 30px 35px;
		padding-left: 15px;
	}
	.mob-nav-close .line {
		display: block;
		width: 24px;
		height: 3px;
		background-color: #222222;
	}

	.mob-nav-close .line:first-of-type {
		-webkit-transform: rotate(45deg) translateY(2px);
		-moz-transform: rotate(45deg) translateY(2px);
		-ms-transform: rotate(45deg) translateY(2px);
		-o-transform: rotate(45deg) translateY(2px);
		transform: rotate(45deg) translateY(2px);
	}

	.mob-nav-close .line:last-of-type {
		-webkit-transform: rotate(-45deg) translateY(-2px);
		-moz-transform: rotate(-45deg) translateY(-2px);
		-ms-transform: rotate(-45deg) translateY(-2px);
		-o-transform: rotate(-45deg) translateY(-2px);
		transform: rotate(-45deg) translateY(-2px);
	}

	#topmenu.open {
		opacity: 1;
	}

	#topmenu {
		display: inline-block;
		overflow-y: auto;
		position: absolute;
		text-align: left;
		padding-top: 0;
		padding-bottom: 100px;
		top: 0;
		bottom: 0;
		left: 0;
		width: 320px;
		background-color: #fff;
		-webkit-transform: translateX(-320px);
		-ms-transform: translateX(-320px);
		transform: translateX(-320px);
		height: 100vh;
		z-index: 100;
	}
	.sidebar-open #topmenu {
		position: fixed;
	}
	#topmenu ul ul {
		display: none;
		position: static;
	}

	#topmenu ul.menu > li > ul > li > ul {
		display: none;
	}

	#topmenu ul.menu {
		width: 100%;
		display: inline-block;
		padding-bottom: 30px;
		background-color: #fff;
	}

	#topmenu ul.menu li {
		display: block !important;
		float: none;
		text-align: left;
		margin-bottom: 0;
	}

	#topmenu ul.menu li a::before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 320px;
		height: 1px;
		display: block;
		background-color: #f1f2f3;
	}
	#topmenu ul.menu li a {
		color: #222222;
		padding: 10px 35px;
		line-height: 25px;
		display: inline-block;
		width: 100%!important;
		float: none;
		transition: all 0.5s ease;
	}

	#topmenu ul.menu li a:hover {
		transition: all 0.5s ease;
	}

	/*1 level menu*/

	#topmenu > ul.menu > li > a {
		font-size: 14px;
	}

	/*2 level menu*/
	#topmenu > ul.menu > li > ul > li,
	#topmenu > ul.menu > li > ul > li > ul > li {
		padding-left: 10px;

	}

	#topmenu > ul.menu > li > ul > li > ul > li:last-child {
		margin-bottom: 20px;
	}

	#topmenu .social li a {
		line-height: 25px !important;
	}

	#topmenu .menu li a:hover,
	#topmenu .menu .current-menu-parent > a,
	#topmenu .menu .current-menu-item > a,
	#topmenu .menu .current-menu-ancestor > a {
		color: #f54ea2;
	}

	.right-menu #topmenu .social {
		display: block;
	}

	.right-menu #topmenu .social li {
		display: inline-block;
	}

	.right-menu #topmenu .social li a {
		padding: 5px;
	}

	.awa-top-social .social-icon {
		display: none;
	}

	.right-menu #topmenu .awa-top-social .social {
		position: static;
		visibility: visible;
		opacity: 1;
	}

	.header_trans-fixed.open .right-menu #topmenu .awa-top-social .social li a {
		color: #222222;
	}

	.mini-cart-wrapper {
		display: block;
		margin: 20px 10px 30px 10px;
	}

	.awa_mini_cart {
		opacity: 1;
		visibility: visible;
		position: relative;
		right: auto;
		left: 0;
		top: 10px;
		width: 100%;
		min-width: 0;
	}

	#topmenu ul li.mega-menu:hover > ul > li {
		width: 100%;
	}

	header a.logo {
		display: inline-block;
	}

	#topmenu ul li.mega-menu:hover > ul > li {
		width: auto;
	}

	#topmenu.active-socials {
		left: 0;
		right: 0;
		overflow: visible;
		opacity: 1;
		width: 100%;
	}

	#topmenu .f-right {
		display: block;
		background: #fff;
		padding: 15px;
		text-align: center;
		z-index: 9999;
		width: 100%;
		transition: all 350ms ease;
	}

	#topmenu .f-right.active-socials {
		opacity: 1;
		visibility: visible;
	}

	#topmenu .f-right.active-socials a {
		visibility: visible;
	}

	#topmenu .f-right .header_trans-fixed.open .right-menu #topmenu .awa-top-social .social li a {
		transition: none;
	}

	.socials-mob-but {
		display: block;
		margin: 0;
		position: absolute;
		top: calc(50% + -3px);
		right: 20px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.socials-mob-but i::before {
		font-size: 24px;
	}

	#topmenu .social .fa,
	.mini-cart-wrapper .awa-shop-icon {
		font-size: 28px;
		transition: none;
	}

	.mini-cart-wrapper .awa-shop-icon {
		margin: 5px;
	}

	.mini-cart-wrapper {
		margin: 0;
		margin-top: -3px;
	}

	.header_trans-fixed.header_top_bg.open header .socials-mob-but i,
	.header_trans-fixed #topmenu .awa-top-social .social li a,
	.header_trans-fixed .mini-cart-wrapper .awa-shop-icon::before {
		color: #222222 !important;
	}

	.header_trans-fixed.header_top_bg {
		transition: none;
	}

	.mini-cart-wrapper {
		display: inline-block;
		vertical-align: middle;
	}

	.awa_mini_cart {
		display: none;
	}

	.awa-top-social {
		vertical-align: middle;
		margin-left: 0;
	}

	.mini-cart-wrapper .awa-shop-icon:before {
		margin-top: -3px;
		font-size: 28px;
	}

	.header_trans-fixed.header_top_bg.open {
		background-color: #fff;
		position: fixed;
		z-index: 1000;
		top: 0;
		width: 100%;
	}
}

/*------------------------------------------------------*/
/*---------------------- STATIC ASIDE MENU ----------------------*/
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden,
.mCSB_inside > .mCSB_container {
	margin-right: 0;
}

@media only screen and (min-width: 992px) {
	.static-menu,
	.static-menu #footer{
		padding-left: 256px;
	}

	.static-menu .right-menu .logo span {
		float: none;
	}

	.static-menu.woocommerce > .main-wrapper > .container {
		padding: 0 15px !important;
	}

	.static-menu.woocommerce.woocommerce-page ul.products {
		margin-top: 20px;
	}

	.static-menu.woocommerce div.product {
		margin-top: 20px;
	}

	.static-menu .awa-woocommerce-pagination .nav-links {
		padding: 30px 30px 70px;
	}

	.static-menu .main-header-testimonial {
		margin-left: auto;
		margin-right: auto;
	}

	.static-menu .single-pagination {
		padding: 15px;
	}

	.static-menu .top-banner {
		height: 500px;
	}

	.static-menu .row.single-share {
		margin-right: 0;
		margin-left: 0;
	}

	.static-menu .portfolio-single-content .izotope-container {
		margin-top: 20px;
	}

	.static-menu .pixproof-data,
	.static-menu .pixproof-data .grid__item:last-child {
		margin-top: 20px;
	}

	.static-menu .portfolio-single-content .single-pagination {
		padding: 50px 15px;
	}

	.static-menu .banner-slider .page-view {
		max-width: 100%;
	}

	.static-menu .portfolio-single-content p,
	.static-menu .portfolio-single-content h1,
	.static-menu .portfolio-single-content h2,
	.static-menu .portfolio-single-content h3,
	.static-menu .portfolio-single-content h4,
	.static-menu .portfolio-single-content h5,
	.static-menu .portfolio-single-content h6 {
		padding: 0 15px;
	}

	.static-menu .portfolio-single-content .row.gallery-single {
		margin-right: 0;
		margin-left: 0;
	}

	.static-menu .swiper-container-split .swiper-slide .slide-item.slide-text-left .wrap-slide-text {
		padding-left: 190px;
	}

	.static-menu .vc_row:not([data-vc-stretch-content="true"]) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.static-menu .vc_row[data-vc-full-width] {
		max-width: calc(100% + 30px) !important;
		left: 0 !important;
	}

	.static-menu .top-banner .content {
		padding: 0 15px;
	}

	.static-menu .flow-slider .swiper-container {
		width: 120vw;
	}

	.static-menu .exhibition-wrap .container-wrap {
		max-width: 100%;
	}

	.static-menu .exhibition-wrap .slide {
		max-width: calc(70vw - 90px);
	}

	.static-menu #footer.fix-bottom {
		max-width: calc(100% - 254px);
		left: 254px;
	}

	.static-menu .header_top_bg {
		padding-bottom: 0;
	}

	.aside-menu.static {
		max-width: 290px;
		left: 0;
	}

	.aside-menu.static .aside-nav {
		display: none;
	}

	.aside-menu.static #topmenu ul.menu {
		overflow-y: visible;
		transform: translate(-50%, -50%);
	}

	.aside-menu.static #topmenu {
		box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.12);
		left: 0 !important;
		margin-left: 0;
		vertical-align: top;
		border-right: none;
	}

	.aside-menu.static #topmenu .sub-menu {
		margin-left: 0;
		left: 100%;
		top: 50%;
		background-color: #fff;
		width: 100% !important;
		transform: translateY(-50%);
		box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.12);
	}
	.aside-menu.static #topmenu .sub-menu .sub-menu {
		left: 99%;
	}

	.aside-menu.static #topmenu li:hover > .sub-menu {
		display: none;
	}

	.aside-menu.static #topmenu .menu li a {
		text-align: left;
		font-size: 15px;
		font-weight: 800;
		display: inline-block;
		letter-spacing: .2px;
		margin: 0;
		width: auto;
		line-height: 1.1;
		padding: 0 2px 0 0;
	}

	.aside-menu.static #topmenu .menu li a:hover {
		margin-left: 10px !important;
		position: relative;
	}
	.aside-menu.static #topmenu .menu .current-menu-item  > a:hover,
	.aside-menu.static #topmenu .menu .current-menu-parent > a:hover {
		margin-left: 0!important;
	}

	.aside-menu.static #topmenu .menu .current-menu-parent li a,
	.aside-menu.static #topmenu .menu .current-menu-item li a {
		margin-left: 0 !important;
	}

	.aside-menu.static #topmenu .current-menu-parent > a::before,
	.aside-menu.static #topmenu .current-menu-item > a::before {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 8px;
		z-index: -1;
		background-color: #ffdd65;
	}

	.aside-menu.static #topmenu .f-right {
		text-align: left;
		left: 0;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		width: 100%;
		padding-left: 45px;
	}

	.aside-menu.static #topmenu .f-right .copy {
		text-transform: none;
		font-size: 14px;
		line-height: 1.57;
		color: #999999;
		margin-top: 35px;
	}

	.aside-menu.static .logo {
		left: 0;
		width: 100%;
		top: 0;
		padding-top: 40px;
		text-align: left;
		padding-left: 45px;
	}

	.aside-menu.static .logo span {
		font-size: 30px;
		line-height: 1;
	}

	.aside-menu.static .logo img {
		max-width: 100%;
	}
}

@media only screen and (min-width: 1650px) {
	.static-menu .vc_row:not([data-vc-stretch-content="true"]) {
		padding-left: 7% !important;
		padding-right: 7% !important;
	}
}

@media only screen and (min-width: 1199px) and (max-width: 1375px) {
	.static-menu .pricing-item {
		padding: 60px 40px;
	}

	.static-menu .pricing-item .mask-image {
		min-width: 150px;
		width: 150px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1275px) {
	.static-menu .pricing-item .mask-image {
		min-width: 130px;
		width: 130px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1460px) {
	.static-menu .about-section {
		padding: 0 30px;
		overflow: hidden;
	}
	.static-menu .headings-wrap,
	.static-menu .awa-post-list-1,
	.static-menu .awa-post-list-2,
	.static-menu .awa-portfolio-2,
	.static-menu .awa-portfolio-3,
	.static-menu .awa-portfolio-urban {
		padding: 0 15px;
	}
	.static-menu .contacts-info-wrap {
		padding: 0 15px 15px;
	}
	.static-menu .vc_row.pad-fix {
		padding-right: 15px!important;
		padding-left: 15px!important;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1375px) {
	.static-menu .outer-album-swiper .album-text-block,
	.static-menu .outer-album-swiper .right-content {
		max-width: 260px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1350px) {
	.static-menu .contacts-info-wrap.style3 .content {
		padding: 100px 20px;
	}

	.static-menu .swiper3-container.carousel-albums .swiper3-button-prev {
		left: 30px;
	}

	.static-menu .swiper3-container.carousel-albums .swiper3-button-prev:hover {
		left: 20px;
	}

	.static-menu .swiper3-container.carousel-albums .swiper3-button-next {
		right: 30px;
	}

	.static-menu .swiper3-container.carousel-albums .swiper3-button-next:hover {
		right: 20px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.static-menu.single-product .product .woocommerce-Reviews #comments, .static-menu.awa_product_detail .product .woocommerce-Reviews #comments {
		width: 60%;
	}

	.static-menu.single-product .product .woocommerce-Reviews #review_form_wrapper, .static-menu.awa_product_detail .product .woocommerce-Reviews #review_form_wrapper {
		width: 40%;
	}

	.static-menu .coming-soon .svg .count {
		font-size: 115px;
	}

	.static-menu .client-wrap {
		width: 50%;
	}

	.static-menu .info-block-parallax-wrap .content-wrap {
		padding: 70px 20px 70px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1100px) {
	.static-menu .top-banner {
		height: 300px;
	}

	.static-menu .top-banner.center_content {
		min-height: 300px;
	}

	.static-menu .fragment-wrapper .fragment-block .fragment-text .wrap-frag-text .title {
		font-size: 50px;
		line-height: 55px;
	}

	.static-menu .swiper-container-vert-slider .swiper-slide .container .wrap-text {
		max-width: calc(100% - 40px);
	}

	.static-menu .swiper-container-vert-slider .swiper-slide .container .wrap-text .title {
		font-size: 60px;
		letter-spacing: 8px;
	}

	.static-menu .portfolio-slider-wrapper.slider_classic .content-wrap .portfolio-title {
		font-size: 50px;
		letter-spacing: 7px;
	}

	.static-menu .portfolio-single-content .gallery-single.infinite_full_gallery .item-single {
		width: 33.33%;
	}

	.static-menu .portfolio.grid .item {
		width: 50% !important;
	}

	.static-menu .flow-slider .flow-title {
		font-size: 60px;
	}
}

/*------------------------------------------------------*/
/*---------------------- ASIDE MENU VERTICAL LOGO ----------------------*/

@media only screen and (min-width: 992px) {
	header.aside-menu {
		padding: 0;
	}

	.aside-menu.vertical .logo {
		position: fixed;
		top: auto;
		bottom: 0;
		left: 0;
		transform-origin: left top 0;
		transform: rotate(-90deg);
		padding: 0;
		height: 58px;
	}
	.aside-menu.vertical .logo span,
	.aside-menu.vertical .logo img {
		max-height: 58px;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}


/*------------------------------------------------------*/
/*---------------------- LEFT ALIGN MENU ----------------------*/
@media only screen and (min-width: 992px) {
	.full-width-menu .right-menu.left {
		padding: 0;
	}
	.right-menu.left {
		padding: 0 85px;
	}
	.unit .right-menu.left {
		padding: 0 15px;
	}
	.right-menu.left .site-search {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		background-color: rgba(255, 255, 255, .9);
		overflow-x: hidden;
		overflow-y: auto;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity .7s ease, visibility .7s ease;
		-o-transition: opacity .7s ease, visibility .7s ease;
		transition: opacity .7s ease, visibility .7s ease;
	}
	.right-menu.left .site-search.open {
		opacity: 1;
		visibility: visible;
	}
	.right-menu.left .site-search .form-container {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.right-menu.left .site-search .form-container .input-group {
		width: 100%;
	}
	.right-menu.left .site-search .form-container .input-group input {
		font-size: 18px;
	}
	.right-menu.left .site-search .close-search {
		position: absolute;
		top: 80px;
		right: 80px;
		width: 30px;
		height: 30px;
	}
	.right-menu.left .site-search .line {
		width: 18px;
		height: 3px;
		background-color: #222222;
		display: block;
		margin: 2px auto;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.right-menu.left .site-search .line:nth-of-type(1) {
		-webkit-transform: translateY(1px) rotate(45deg);
		-ms-transform: translateY(1px) rotate(45deg);
		-o-transform: translateY(1px) rotate(45deg);
		transform: translateY(1px) rotate(45deg);
	}
	.right-menu.left .site-search .line:nth-of-type(2) {
		-webkit-transform: translateY(-4px) rotate(-45deg);
		-ms-transform: translateY(-4px) rotate(-45deg);
		-o-transform: translateY(-4px) rotate(-45deg);
		transform: translateY(-4px) rotate(-45deg);
	}
	
	.header_trans-fixed.header_top_bg .right-menu.left #topmenu  ul  li  a {
		padding: 0;
	}
	.right-menu.left #topmenu .menu li a {
		font-size: 15px;
		font-weight: 800;
		letter-spacing: .2px;
		line-height: 1.1;
		z-index: 1;
	}

	.right-menu.left #topmenu .menu > li {
		padding: 30px 0;
	}

	.right-menu.left #topmenu .sub-menu {
		top: 75px;
		left: -35px;
		min-width: 270px;
		padding: 30px 0;
		background-color: #ffffff;
		-webkit-box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.07);
		box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.07);
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity .5s ease, visibility .5s ease;
		-o-transition: opacity .5s ease, visibility .5s ease;
		transition: opacity .5s ease, visibility .5s ease;
		display: block;
	}
	.right-menu.left #topmenu .menu li:hover > ul {
		opacity: 1;
		visibility: visible;
	}
	.right-menu.left #topmenu .menu .mega-menu:hover > ul > li > ul {
		opacity: 1;
		visibility: visible;
	}
	.right-menu.left #topmenu .menu > li ul a {
		opacity: 0;
		-webkit-transform: matrix(1, 0, 0, 1, 0, 20);
		-ms-transform: matrix(1, 0, 0, 1, 0, 20);
		transform: matrix(1, 0, 0, 1, 0, 20);
		-webkit-transition: opacity .75s ease, -webkit-transform .75s ease;
		transition: opacity .75s ease, -webkit-transform .75s ease;
		-o-transition: opacity .75s ease, transform .75s ease;
		transition: opacity .75s ease, transform .75s ease;
		transition: opacity .75s ease, transform .75s ease, -webkit-transform .75s ease;
	}

	.right-menu.left .topmenu .sub-menu .not-hover a:before {
		display: none;
	}
	.right-menu.left #topmenu .menu > li:hover ul a,
	.right-menu.left #topmenu .menu > li.mega-menu:hover ul > li > ul.sub-menu > li a {
		opacity: 1;
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
		-ms-transform: matrix(1, 0, 0, 1, 0, 0);
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	.right-menu.left #topmenu .sub-menu .sub-menu {
		top: 0;
		left: 100%;
		padding: 40px 15px;
	}

	.right-menu.left #topmenu .menu li:last-of-type .sub-menu .sub-menu,
	.right-menu.left #topmenu .menu li:nth-last-of-type(2) .sub-menu .sub-menu,
	.right-menu.left #topmenu .menu li:nth-last-of-type(3) .sub-menu .sub-menu {
		left: -100%;
	}

	.right-menu.left #topmenu .sub-menu li {
		padding: 8px 35px;
		text-align: left;
	}

	.right-menu.left #topmenu .sub-menu li a {
		width: auto;
		display: inline-block;
		padding: 0;
		font-weight: 600;
	}

	.right-menu.left #topmenu li a::before {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 0;
		height: 8px;
		z-index: -1;
		background-color: #ffdd65;
		-webkit-transition: width .3s ease;
		-o-transition: width .3s ease;
		transition: width .3s ease;
	}

	.right-menu.left #topmenu .current-menu-parent > a,
	.right-menu.left #topmenu .current-menu-item > a {
		position: relative;
	}

	.right-menu.left #topmenu .menu li a:hover::before,
	.right-menu.left #topmenu .current-menu-parent > a::before,
	.right-menu.left #topmenu .current-menu-item > a::before,
	.right-menu.left #topmenu .current-menu-ancestor > a::before {
		width: 100%;
	}

	.right-menu.left .logo span {
		margin-top: 2px;
	}

	.right-menu.left #topmenu {
		padding-left: 23px;
		text-align: right;
		vertical-align: middle;
		display: table-cell !important;
	}

	.right-menu.left #topmenu > ul > li > a {
		margin: 0 18px 0 0;
	}

	.right-menu.left #topmenu .search-icon-wrapper {
		margin-left: 30px;
		cursor: pointer;
	}
	.right-menu.left #topmenu .mini-cart-wrapper {
		margin-left: 30px;
	}
	.search-form .input-group::after {
		display: block;
		position: absolute;
		bottom: 0;
		content: "";
		height: 3px;
		width: 50%;
		background-color: #f54ea2;
	}
	.search-form input {
		width: 100%;
		border: 0;
		border-bottom: 3px solid rgba(34, 34, 34, .2);
		background-color: transparent;
		color: #999999;
		font-size: 15px;
		padding: 14px 0;
	}

	.header_top_bg.center-menu .right-menu:not(.full) #topmenu {
		display: flex !important;
		align-items: center;
	}

	.header_top_bg.center-menu #topmenu > ul {
		width: 100%;
		text-align: center;
	}

	.header_top_bg.center-menu .right-menu.left .f-right {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.header_top_bg.center-menu .right-menu.left {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

@media only screen and (max-width: 991px) {
	header {
		position: static;
	}
	#topmenu ul.menu {
		max-height: 300000px !important;
	}
}

/*------------------------------------------------------*/
/*---------------------- COMPACT MENU ----------------------*/
@media only screen and (min-width: 992px) {
	.right-menu.compact .mob-nav {
		display: table-cell;
		vertical-align: middle;
		padding: 30px;
		width: 12px;
		font-size: 20px;
	}

	.right-menu.compact .mob-nav .fa-times {
		font-size: 22px;
	}

	.right-menu.compact #topmenu {
		opacity: 0;
		visibility: hidden;
		transition: all 350ms ease;
	}

	.right-menu.compact #topmenu.open {
		opacity: 1;
		visibility: visible;
	}

	.header_trans-fixed.header_top_bg.open .right-menu.compact #topmenu ul li a,
	.header_trans-fixed.header_top_bg.open .right-menu.compact .logo span,
	.header_trans-fixed.header_top_bg.open .right-menu.compact .mob-nav i {
		color: #fff;
	}
}

/*------------------------------------------------------*/
/*---------------------- FULL SCREEN MENU ----------------------*/

@media only screen and (min-width: 992px) {
	.full {
		padding: 0 85px!important;
		text-align: left;
	}
	.right-menu.full .mob-nav {
		width: auto;
		padding: 30px 0;
		text-align: right;
		text-decoration: none;
	}
	.right-menu.full .mob-nav > span {
		display: none;
		margin-right: 10px;
		color: #222222;
		font-size: 24px;
		font-weight: 800;
	}
	.right-menu.full .mob-nav .line {
		width: 18px;
		height: 3px;
		background-color: #222222;
		display: block;
		float: left;
		margin: 2px auto;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.menu_light_text.header_top_bg .right-menu.full .mob-nav .line {
		background-color: #fff;
	}
	.header_trans-fixed.header_top_bg.bg-fixed-color .mob-nav .line,
	.menu_light_text.header_trans-fixed.header_top_bg.bg-fixed-color .mob-nav .line,
	.menu_light_text.header_top_bg .right-menu.full .mob-nav.active .line{
		background-color: #222;
	}
	.right-menu.full .mob-nav.active > span {
		display: inline-block;
	}
	.right-menu.full .mob-nav .hamburger {
		display: inline-block;
		width: 20px;
	}
	.right-menu.full .mob-nav.active .line {
		margin: 0;
		background-color: #222222;
	}
	.right-menu.full .mob-nav.active .line:nth-of-type(2) {
		opacity: 0;
	}
	.right-menu.full .mob-nav.active .line:nth-of-type(1) {
		width: 24px;
		-webkit-transform: translateY(1px) rotate(45deg);
		-ms-transform: translateY(1px) rotate(45deg);
		-o-transform: translateY(1px) rotate(45deg);
		transform: translateY(1px) rotate(45deg);
	}
	.right-menu.full .mob-nav.active .line:nth-of-type(3) {
		width: 24px;
		-webkit-transform: translateY(-5px) rotate(-45deg);
		-ms-transform: translateY(-5px) rotate(-45deg);
		-o-transform: translateY(-5px) rotate(-45deg);
		transform: translateY(-5px) rotate(-45deg);
	}
	.right-menu.full .mob-nav .line:nth-of-type(2) {
		width: 24px;
	}
	.right-menu.full #topmenu .full-menu-wrap {
		position: absolute;
		top: 10%;
		left: 0;
		width: 100%;
		padding: 30px 100px;
		text-align: left;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.right-menu.full #topmenu {
		margin-top: 0;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		display: none;
		transition: none;
		width: 100%;
		opacity: 1;
		visibility: visible;
		height: 100vh;
		background: rgba(255, 255, 255, .95);
		overflow-y: auto;
		z-index: 90;
	}
	.right-menu.full #topmenu.open {
		opacity: 1;
		visibility: visible;
	}
	.right-menu.full #topmenu li {
		text-align: left;
	}
	.header_top_bg .right-menu.full #topmenu ul li a {
		color: #222222;
	}
	.right-menu.full #topmenu ul.menu li {
		overflow: hidden;
	}
	.right-menu.full #topmenu ul.menu li a {
		position: relative;
		display: inline-block;
		padding: 0;
		font-size: 30px;
		text-align: left;
		line-height: 2;
		-webkit-transform: translateY(100%);
		-ms-transform: translateY(100%);
		transform: translateY(100%);
		-webkit-transition: -webkit-transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
		transition: -webkit-transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
		-o-transition: transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
		transition: transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
		transition: transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160), -webkit-transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
	}
	.right-menu.full .info-wrap .additional > div,
	.right-menu.full .info-wrap .search > div {
		overflow: hidden;
	}
	.right-menu.full .info-wrap .additional div *,
	.right-menu.full .info-wrap .search div * {
		-webkit-transform: translateY(130%);
		-ms-transform: translateY(130%);
		transform: translateY(130%);
		-webkit-transition: -webkit-transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
		transition: -webkit-transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
		-o-transition: transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
		transition: transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
		transition: transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160), -webkit-transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
	}
	.right-menu.full .copy {
		opacity: 0;
		webkit-transform: translateY(140%);
		-ms-transform: translateY(140%);
		transform: translateY(140%);
		-webkit-transition: opacity 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160), -webkit-transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
		transition: opacity 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160), -webkit-transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
		-o-transition: transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160), opacity 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
		transition: transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160), opacity 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
		transition: transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160), opacity 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160), -webkit-transform 500ms cubic-bezier(0.510, -0.015, 0.860, 0.160);
	}
	.right-menu.full #topmenu.open ul.menu li a,
	.right-menu.full .open .info-wrap .additional div *,
	.right-menu.full .open .info-wrap .search div * {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	.right-menu.full .open .copy {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	.right-menu.full #topmenu ul.menu li .sub-menu {
		display: none;
		transition: none;
	}
	.right-menu.full #topmenu li a::before {
		content: "";
		position: absolute;
		bottom: 8px;
		left: 0;
		width: 0;
		height: 18px;
		z-index: -1;
		background-color: #ffdd65;
		transition: width .3s ease;
	}

	.right-menu.full #topmenu .current-menu-parent > a,
	.right-menu.full #topmenu .current-menu-item > a {
		position: relative;
	}

	.right-menu.full #topmenu .menu li a:hover::before,
	.right-menu.full #topmenu .current-menu-parent > a::before,
	.right-menu.full #topmenu .current-menu-item > a::before,
	.right-menu.full #topmenu .current-menu-ancestor > a::before {
		width: 100%;
	}

	header.full #topmenu ul li.mega-menu:hover > ul {
		padding-top: 10px;
	}

	.right-menu.full #topmenu ul li::before {
		display: none;
	}

	.right-menu.full #topmenu ul ul li {
		display: block !important;
		float: none !important;
		width: 100% !important;
	}

	.right-menu.full #topmenu .f-right li {
		display: inline-block;
	}

	.right-menu.full #topmenu .f-right {
		display: block;
		float: none;
		margin-top: 30px !important;
	}

	.right-menu.full #topmenu ul li {
		display: block;
	}

	.right-menu.full #topmenu .mob-nav {
		position: relative;
		z-index: 9000;
	}
	.right-menu.full #topmenu .menu {
		margin-bottom: 30px;
	}
	.right-menu.full .sub-menu {
		position: static !important;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.right-menu.full #topmenu ul ul {
		display: block;
		padding-left: 30px;
	}
	.right-menu.full #topmenu ul.menu ul li a {
		display: inline-block;
		width: auto;
		font-size: 18px;
	}
	.right-menu.full #topmenu ul.menu ul li a::before {
		height: 8px;
	}
	.right-menu.full .whizz_mini_cart {
		display: none;
	}

	.right-menu.full .mob-nav {
		position: relative;
		z-index: 1000;
	}
	.right-menu.full .info-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		margin-bottom: 30px;
	}
	.right-menu.full .copy {
		text-align: right;
		text-transform: capitalize;
	}
	.right-menu.full .info-wrap .additional {
		width: 40%;
	}
	.right-menu.full .info-wrap .search {
		width: 30%;
	}
	.right-menu.full .info-wrap .additional h3,
	.right-menu.full .info-wrap .search {
		font-size: 30px;
		font-weight: 800;
		line-height: normal;
	}
	.right-menu.full .info-wrap .additional p {
		margin: 0;
		font-size: 15px;
		line-height: 2.67;
	}
	.right-menu.full .info-wrap .search .input-group {
		width: 100%;
	}
	.right-menu.full .info-wrap .search .input-group::before {
		position: absolute;
		top: 50%;
		right: 10px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		font-family: "FontAwesome";
		font-size: 15px;
		color: #222222;
		content: "\f002";
	}
	.right-menu.full .info-wrap .search input {
		color: #999999;
		font-size: 15px;
		font-weight: normal;
	}
	.right-menu.full .info-wrap .search .col-lg-12 {
		padding: 0;
	}
	.right-menu.full .copy {
		color: #222;
		font-size: 15px;
		opacity: .6;
	}
}

@media only screen and (max-width: 991px) {
	.header_top_bg{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}
	.right-menu.full #topmenu {
		background-color: #ffffff;
	}
	.right-menu.full #topmenu .sub-menu li {
		padding-left: 10px;
	}
	.right-menu.full #topmenu .full-menu-wrap {
		position: static;
		padding: 0;
	}
	.right-menu.full .mob-nav {
		width: auto;
		text-align: right;
		text-decoration: none;
	}
	.right-menu.full .mob-nav > span {
		display: none;
		margin-right: 10px;
		color: #222222;
		font-size: 24px;
		font-weight: 800;
	}
	.right-menu .mob-nav .line {
		width: 18px;
		height: 3px;
		background-color: #222222;
		display: block;
		float: left;
		margin: 2px auto;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.right-menu .mob-nav .hamburger {
		display: inline-block;
		width: 20px;
	}
	.right-menu .mob-nav.active .line {
		margin: 0;
		background-color: #222222;
	}
	.right-menu .mob-nav.active .line:nth-of-type(2) {
		opacity: 0;
	}
	.right-menu .mob-nav.active .line:nth-of-type(1) {
		width: 24px;
		-webkit-transform: translateY(2px) rotate(45deg);
		-ms-transform: translateY(2px) rotate(45deg);
		-o-transform: translateY(2px) rotate(45deg);
		transform: translateY(2px) rotate(45deg);
	}
	.right-menu .mob-nav.active .line:nth-of-type(3) {
		width: 24px;
		-webkit-transform: translateY(-4px) rotate(-45deg);
		-ms-transform: translateY(-4px) rotate(-45deg);
		-o-transform: translateY(-4px) rotate(-45deg);
		transform: translateY(-4px) rotate(-45deg);
	}
	.right-menu .mob-nav .line:nth-of-type(2) {
		width: 24px;
	}
	.right-menu.full .info-wrap {
		padding: 0 15px 0 35px;
		margin-bottom: 30px;
	}
	.right-menu.full .info-wrap .additional {
		margin-bottom: 30px;
	}
	.right-menu.full .copy {
		text-align: right;
		text-transform: capitalize;
	}
	.right-menu.full .info-wrap .additional h3,
	.right-menu.full .info-wrap .search {
		font-size: 24px;
		font-weight: 800;
		line-height: normal;
	}
	.right-menu.full .info-wrap .additional p {
		margin: 0;
		font-size: 15px;
		line-height: 2.67;
	}
	.right-menu.full .info-wrap .search .input-group {
		width: 100%;
		max-width: 500px;
	}
	.right-menu.full .info-wrap .search .input-group::before {
		position: absolute;
		top: 50%;
		right: 10px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		font-family: "FontAwesome";
		font-size: 15px;
		color: #222222;
		content: "\f002";
	}
	.right-menu.full .info-wrap .search input {
		color: #999999;
		font-size: 15px;
		font-weight: normal;
	}
	.right-menu.full .info-wrap .search .col-lg-12 {
		padding: 0;
	}
	.right-menu.full .copy {
		padding: 0 15px;
		color: #999999;
		font-size: 15px;
	}
	.search-form .input-group::after {
		display: block;
		position: absolute;
		bottom: 0;
		content: "";
		height: 3px;
		width: 50%;
		background-color: #f54ea2;
	}
	.search-form input {
		width: 100%;
		border: 0;
		border-bottom: 3px solid rgba(34, 34, 34, .2);
		background-color: transparent;
		color: #999999;
		font-size: 15px;
		padding: 14px 0;
	}
	.search-icon-wrapper {
		display: block;
		position: relative;
		margin-top: 30px;
	}
	.search-icon-wrapper i {
		position: absolute;
		top: 50%;
		right: 20px;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.search-icon-wrapper .input-group {
		width: 100%;
	}
	.right-menu.full .socials-mob-but,
	.right-menu.full .copy,
	.right-menu.full .additional {
		display: none;
	}
}

.dark_bg.header_trans-fixed.header_top_bg.bg-fixed-color{
	background-color: #030d27;
}

.dark_bg.header_trans-fixed.header_top_bg.bg-fixed-color .right-menu.full .mob-nav:not(.active) .line {
	background-color: #ffffff;
}

.logo img {
	height: 60px !important;
	max-height: 60px !important;
}

.landing-menu #topmenu .menu > .menu-item > a {
	margin: 0 15px 0 0; }
.landing-menu #topmenu .menu > .menu-item:last-of-type {
	margin-left: 40px;
	padding: 14px 0; }
.landing-menu #topmenu .menu > .menu-item:last-of-type a {
	background-color: #f54ea2;
	color: #fff;
	padding: 14px 20px; }
.landing-menu #topmenu .menu > .menu-item:last-of-type a:hover {
	color: #f54ea2;
	background-color: #ffffff; }
.landing-menu #topmenu .menu > .menu-item:last-of-type a:hover::before {
	display: none; }
.landing-menu #topmenu .f-right {
	display: none; }

.landing-menu .logo img {
	height: 75px !important;
	max-height: 75px !important; }

@media only screen and (max-width: 1199px) {
	.landing-menu {
		padding: 0 !important; } }
@media only screen and (max-width: 991px) {
	.landing-menu #topmenu .menu > .menu-item:last-of-type {
		margin-top: 35px;
		margin-left: 0;
		text-align: center; }
	.landing-menu #topmenu .menu > .menu-item:last-of-type a {
		width: auto !important;
		padding: 14px 28px; }
	.landing-menu #topmenu .f-right {
		display: block; } }